<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Analyzer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>PDF Summarizer & Risk Analyzer</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="pdf">Upload a PDF:</label>
        <input type="file" name="pdf" id="pdf" required>
        <button type="submit">Analyze</button>
    </form>

    {% if risks %}
    <h2>Risk Analysis</h2>
    <ul>
        {% for risk in risks %}
        <li>
            {{ risk.text }} <b>(Polarity: {{ risk.polarity }},Subjectivity: {{ risk.subjectivity }})</b>
            <br><br><p>Kannada: {{ risk.text_kn }}</p>  <p><br><br>Hindi: {{ risk.text_hi }}<br><br></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
